.custom-loader {
    text-align: center;
    font-size: 2rem;
}

.custom-loader .animate span {
    animation: bounce 0.8s infinite alternate;
    display: inline-block;
    font-weight: bold;
    color: #00D5FA;
}

.custom-loader .let1 {
    animation-delay: 0s;
}

.custom-loader .let2 {
    animation-delay: 0.1s;
}

.custom-loader .let3 {
    animation-delay: 0.2s;
}

.custom-loader .let4 {
    animation-delay: 0.3s;
}

.custom-loader .let5 {
    animation-delay: 0.4s;
}

.custom-loader .let6 {
    animation-delay: 0.5s;
}

.custom-loader .let7 {
    animation-delay: 0.6s;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}